<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Portfolio Time</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li>
            <img src='https://i.pinimg.com/474x/64/23/8e/64238e470b5a8d0fa8bcc866aa1070e5.jpg' class="rounded-circle"
              width='100' height='50' class="d-inline-block align-top" />

            </a>

          </li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">Home</a></li>
          <li><a href="{% url 'reference' %}">About Me</a></li>
          <li><a href="{% url 'logout' %}">Resume</a></li>
          <li><a href="{% url 'kendlyn338@gmail.com' %}">Contact Me</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Jumbotron -->
  <div class="jumbotron horizontal-center">
    <div class="container text-right">
      <h1>Kendlyn Marriott</h1>
      <h4 class="mb-3">Software Developer</h4>
      <a class="btn btn-primary" href="">Resume</a>
    </div>
  </div>
  <!-- Jumbotron -->
  </header>
  <p class='aligncenter'>
    <img src="images/OGOC4mm.jpg" class='circle' alt="Card image" width='100' height='100'>
  </p>


  <h3>Personal Statement</h4>
    <p>As a software developer and a nurse I have a strong desire to combine my software skills with my medical
      background.</p>
    <p>With extensive experience in a diverse, fast paced culture as a team member and an educator I recognize
      the importance of teamwork and effective communication.</p>
    <p>I value the importance of constant learning and striving to exceed expectations.</p>
    <hr />
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <!-- <div class="card" style="width: 18rem;"> -->
            <img src="images/diabetes3.png" class="card-img-top" alt="GlukoseGuide">
            <div class="card-body">
              <h5 class="card-title">Glukose Guide</h5>
              <p class="card-text">An app that allows diabetic patients to track their daily blood sugar levels and
                insulin doses.</p>
              <a href="https://glukoseguide.herokuapp.com" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
              <a href="https://github.com/kendlyn338/GlukoseGuide" class="btn "><i class="fab fa-github"></i> Github</a>
            </div>
          </div>
        </div>


        <!-- <div class="row row-cols-1 row-cols-md-3 g-4"> -->
          <div class="col">
            <div class="card">
                <img src="images/basketball2.png" class="card-img-top" alt="Basketball">
                <div class="card-body">
                  <h5 class="card-title">Basketball Tracker</h5>
                  <p class="card-text">Centered around Napoleon Ladies Basketball this app allows the coach to enter game stats and player of the game.</p>
                  <a href="https://project2-basketball.herokuapp.com/stats" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                  <a href="https://github.com/kendlyn338/Project2-Basketball" class="btn "><i class="fab fa-github"></i> Github</a>
                </div>
              </div>
            </div>


            <!-- <div class="row row-cols-1 row-cols-md-3 g-4"> -->
              <div class="col">
                <div class="card">
                    <img src="images/warhandler2.png" class="card-img-top" alt="WarHandler">
                    <div class="card-body">
                      <h5 class="card-title">WarHandler</h5>
                      <p class="card-text">A group project that provides extensive data for WarHammer40k players.</p>
                      <a href="https://warhandler.netlify.app" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                      <a href="https://github.com/chrismcclarin/Warhandler-Frontend" class="btn "><i class="fab fa-github"></i> Github</a>
                    </div>
                  </div>
                </div>
              </div>

              <footer class="text-center text-white fixed-bottom" style="background-color: radial-gradient(circle, rgba(195,155,241,1) 0%, rgba(120,163,191,1) 100%);;">
                <!-- Grid container -->
                <div class="container p-4 pb-0">
                  <!-- Section: Social media -->
                  <section class="mb-4">
                    <!-- Facebook -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #3b5998;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
              
                    <!-- Twitter -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #55acee;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-twitter"></i
                    ></a>
              
                    <!-- Google -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #dd4b39;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-google"></i
                    ></a>
              
                    <!-- Instagram -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #ac2bac;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-instagram"></i
                    ></a>
              
                    <!-- Linkedin -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #0082ca;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #333333;"
                      href="#!"
                      role="button"
                      ><i class="fab fa-github"></i
                    ></a>
                  </section>
                  <!-- Section: Social media -->
                </div>
                <!-- Grid container -->
              
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                  © 2020 Copyright:
                  <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                </div>
                <!-- Copyright -->
              </footer>
</body>

</html>