@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



.jumbotron {
    margin: 50px 0 20px 220px;
    border-radius:10px;
    background: linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)),
    url(https://images.unsplash.com/photo-1528538294120-1699b9c2cd48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA1fHxjb21wdXRlciUyMGFuZCUyMGNvZmZlZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=100);
    background-repeat: no-repeat;
    color:white !important;
    height: 500px;
    width: 1000px;
}



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(195,155,241);
    background: radial-gradient(circle, rgba(195,155,241,1) 0%, rgba(120,163,191,1) 100%);
}
nav {
    background: rgb(195,155,241);
    background: radial-gradient(circle, rgba(195,155,241,1) 0%, rgba(120,163,191,1) 100%); 
    text-align: right;
    padding: 5px;
    height: 75px
    
}




h1 {
    text-align: right;
    font-family: Poppins, serif;
    font-size: 70px;
}
h2 {
    text-align: center;
    font-family: Poppins, serif;
}
h3 {
    text-align: center;
    font-family: Poppins, serif;
}
h4 {
    text-align: right;
    font-family: Poppins, serif;
}
h5 {
    text-align: center;
    text-decoration: underline;
    font-family: Poppins, serif;
   
}

p {
    text-align: center;
    font-family: Poppins, serif;
}





/* :root {
    --gradient: linear-gradient(to left top, #071e5c 10%, #381f93 90%) !important; */
  

.card {
    background: rgb(171, 200, 237);
    border: 1px solid #dd2476;
    color: rgba(7, 14, 107, 0.8);
    margin-top: 5rem;
    margin-bottom: 10rem;
    width: 18rem;
    height: 38rem;
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
}
  
.btn {
    /* border: 1px solid; */
    /* border-image-slice: 1; */
    text-decoration: none;
    transition: all .4s ease;
    background-color: rgb(3, 94, 94);
}
.btn:hover, .btn:focus {
    background: var(--gradient) !important;
    /* -webkit-background-clip: none !important; */
   
    border: 5px solid rgb(223, 13, 13) !important; 
    box-shadow: #222 1px 0 10px;
    text-decoration: underline; 
}
footer {
    background: rgb(195,155,241);
    background: radial-gradient(circle, rgba(195,155,241,1) 0%, rgba(120,163,191,1) 100%); 
    text-align: center; 
}

